@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   outline: none; 
   border: none;
   text-decoration: none;
}

.container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem; 
   padding-bottom: 6rem;
}

.container .content {
   text-align: center;
}

.container .content h3 {
   font-size: 2rem;
   color: #333;
}

.container .content h3 span {
   background: crimson;
   color: #fff;
   border-radius: 5px;
   padding: 0 1rem; 
}

.container .content h1 {
   font-size: 3rem; 
   color: #333;
}

.container .content h1 span {
   color: crimson;
}

.container .content p {
   font-size: 1.5rem; 
   margin-bottom: 1.5rem; 
}

.container .content .btn {
   display: inline-block;
   padding: 0.5rem 2rem; 
   font-size: 1.25rem; 
   background: #333;
   color: #fff;
   margin: 0 0.5rem; 
   text-transform: capitalize;
}

.container .content .btn:hover {
   background: crimson;
}

.form-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem; 
   padding-bottom: 6rem; 
   background: #eee;
}

.form-container form {
   padding: 2rem; 
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   background: #fff;
   text-align: center;
   width: 100%; 
   max-width: 500px; 
}

.form-container form h3 {
   font-size: 2rem; 
   text-transform: uppercase;
   margin-bottom: 1rem; 
   color: #333;
}

.form-container form input,
.form-container form select {
   width: 100%;
   padding: 0.5rem 1rem; 
   font-size: 1rem; 
   margin: 0.5rem 0; 
   background: #eee;
   border-radius: 5px;
}

.form-container form select option {
   background: #fff;
}

.form-container form .form-btn {
   background: #fbd0d9;
   color: crimson;
   text-transform: capitalize;
   font-size: 1.25rem; 
   cursor: pointer;
}

.form-container form .form-btn:hover {
   background: crimson;
   color: #fff;
}

.form-container form p {
   margin-top: 1rem; 
   font-size: 1.25rem; 
   color: #333;
}

.form-container form p a {
   color: crimson;
}

.form-container form .error-msg {
   margin: 1rem 0; 
   display: block;
   background: crimson;
   color: #fff;
   border-radius: 5px;
   font-size: 1.25rem; 
   padding: 1rem; 
}

@media (max-width: 1200px) {
   .container .content h1 {
       font-size: 2.5rem; 
   }

   .container .content p {
       font-size: 1.25rem; 
   }

   .form-container form {
       width: 90%; 
   }
}

@media (max-width: 992px) {
   .container .content h1 {
       font-size: 2.25rem; 
   }

   .container .content p {
       font-size: 1.125rem; 
   }

   .form-container form {
       width: 90%;
   }
}

@media (max-width: 768px) {
   .container .content h1 {
       font-size: 2rem; 
   }

   .container .content p {
       font-size: 1rem;
   }

   .form-container form {
       width: 90%; 
       padding: 1rem; 
   }

   .form-container form h3 {
       font-size: 1.5rem;
   }

   .form-container form .form-btn {
       font-size: 1rem; 
   }

   .form-container form p {
       font-size: 1rem; 
   }

   .form-container form .error-msg {
       font-size: 1rem;
   }
}

@media (max-width: 576px) {
   .container .content h1 {
       font-size: 1.75rem; 
   }

   .container .content p {
       font-size: 0.875rem;
   }

   .form-container form {
       width: 100%; 
   }

   .form-container form h3 {
       font-size: 1.5rem; 
   }

   .form-container form .form-btn {
       font-size: 0.875rem; 
   }

   .form-container form p {
       font-size: 0.875rem; 
   }

   .form-container form .error-msg {
       font-size: 0.875rem; 
   }
}